.delete-button {
    padding-right: 25px !important;
    margin: 3px;
    color: rgb(20, 19, 16) !important;
    border: none !important;
    background-color: transparent!important;
    
  }
  .mark-button{
    padding-right: 25px !important;
    margin: 3px;
    margin-left: 5px;
    color: rgb(20, 19, 16) !important;
    border: none !important;
    background-color: transparent!important;
    
  }
  .main-container-todo{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;

  }
  .complete{
    text-decoration: line-through;
  color: rgb(107, 104, 104);
  }
  .list-Container{
    align-items: center !important;
    margin: auto;
    justify-content: center !important; 
    color: rgb(0, 0, 0);
    
    background-color: transparent;
    padding:0;
    list-style-type: none;
    display: flex;

  }
li{
  width: 500px;
}
  .to-do-list {
    text-align: center;
    margin-top: 20px;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    
  }
  .input-container {
    padding-top: 35px;
    padding-bottom: 15px;
    display: flex ;
    margin: auto;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    width: 100% !important;
    
  }
  .container-fluid-todo{
    align-items: center;
    width: 100%;
  }
  .input-box {
    border-color: rgb(0, 0, 0) !important;
    width: 100%;
    max-width: 400px;
    padding: 10px;
  }

 
  .footer {
    background-color: #f8f9fa;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 4px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    
    justify-content: center;
    height: 40px;
  
  }
  @media (max-width: 576px) {
    .footer.social_media a {
      font-size: 18px;
    }
  }
  @media (max-width: 250px) {
    .footer.social_media a {
      font-size: 18px;
    }
  }
  .bi-alarm {
    color: rgb(0, 0, 0) !important;
    font-size: 20px;
  }
  
  .bi-envelope {
    color: rgb(0, 0, 0) !important;
  }
  .bi-facebook {
    color: rgb(0, 0, 0) !important;
  }
  .bi-messenger {
    color: rgb(0, 0, 0) !important;
  }