.at-header {
    align-items: center;
    margin: 0;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000 !important;
    ;
}

.allura-regular {
    font-family: "Allura", serif !important;
    font-size: 83px;
    font-style: normal;
    width: 500px;
    
  } 
.at-container{
    align-items: center !important;
    justify-content: center !important;
    display: flex;
}
.add-button{
    padding-right: 25px !important;
    margin: 3px;
    margin-left: 5px;
    color: rgb(255, 254, 253) !important;
    border: none !important;
    background-color:#000000;
    align-items: center;
    justify-content: center;
    width:300px;
    display: flex;
  }
.input-container-at{
    padding-top: 35px;
    padding-bottom: 15px;
    margin: auto;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    width:400px
}
.input-box-at{
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
    width:400px
}
@media (max-width: 768px) {
    .to-do-list {
      padding: 25px;
    }
  }
    @media (max-width: 750px) {
      .list-Container {
        width: calc(250px * 3 + 4em);
        margin: auto;
        padding-top: 20px;
        columns: 1;
      }
    }
    @media (max-width: 450px) {
      .list-Container {
        width: calc(200px * 1 + 4em);
        margin: auto;
        padding-top: 20px;
        columns: 1;
      }
      @media (max-width: 576px) {
        .footer.social_media a {
          font-size: 18px;
        }
      }
  }